<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1>Živijo 2.Ri</h1>
	   {% if podatki['uspeh'] %}
	   <i>Uspešno sem se povezal na database.</i>
	   {% else %}
	   <i><bold>Neuspešno</bold> sem se povezal na database.</i>
	   {% end if %}
	   
	   <h2>HTML Forms</h2>

	<form action="/" method="POST">
		<label for="fname">Višina(cm):</label><br>
		<input type="text" id="visinaID" name="visina" value="{{podatki['visina']}}"><br>
		<label for="lname">Teža(kg):</label><br>
		<input type="text" id="tezaID" name="teza" value="{{podatki['teza']}}"><br><br>
		<input type="submit" value="IZRAČUNAJ">
	</form> 
	{% if podatki['itm'] %}
	<i>Vaš ITM je {{podatki['itm']}}</i>
	{% endif %}
<i>mama</i>

</body>
</html>